/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;  /*faz com que os inputs respeitem as bordas da div pai*/
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #70747a;
}

/* navbar */
.navbar-container {
  width: 100%; /* A barra ocupa 100% da largura da tela. */           
  height: 80px;           
  background-color: #232a31;
  padding: 0 2rem; /* Adiciona um espaço interno*/   
   /* 0 nas partes de cima e de baixo.*/
   /* 2rem (geralmente 32px) nas laterais esquerda e direita, para o conteúdo não colar nas bordas da tela. */                          
}

nav {
    position: relative; /* Permite posicionar elementos filhos de forma absoluta em relação a este elemento pai. */
}

.logo {
  width: 50px; 
  margin-top: 15px; 
}

.navbar-items {
  position: absolute; /*Faz com que o elemento filho respeite os limites do elemento pai(nav)*/
  right: 0; /*Alinha os items à direita da página*/
  height: 80px;
  line-height: 80px; /*Alinha verticalmente os items pois é a mesma altura em height*/
  margin: 0;
  display: inline-block; /*a lista se comporta como um bloco, porém, fluindo em linha*/
}

.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}

.navbar-items a {
    color: #fff;
    text-decoration: none; /*remover sublinhado dos links*/
    transition: 0.5s; /*qualquer efeito levará 0.5s, tornando uma transição mais suave.*/
}

.navbar-items a:hover {
    color: #ccc; /*cor ao passar o mouse*/
}

.default-btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 5px; /*arredonda os cantos do botão*/
}

.navbar-items .default-btn:hover {
    background-color: #22bb5f;
    color: #fff; /*garante que o texto continue branco ao passar o mouse*/
}

/* main banner */
.main-banner {
    background-image: url("../img/mainbanner.png"); /*Define qual será a imagem de fundo do banner*/
    background-size: cover; /*faz com que a imagem de fundo cubra todo o espaço do banner*/
    background-position: center; /*centraliza a imagem de fundo*/
    padding: 10rem 0; /*espaçamento interno de 10rem (160px) nas partes de cima e de baixo, e 0 nas laterais*/
}

.main-banner h1, .main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 6px 4px 2px; /*adiciona sombra ao texto para melhorar a visualização sobre a imagem de fundo*/
}

.main-banner h1{
    font-size: 60px; /*Aumenta a fonte para ficar em um tamanho bom de título*/
}

.main-banner p {
    font-size: 34px; /*Aumenta a fonte para ficar em um tamanho bom de parágrafo*/
}

/* Services */
.services-container {
    padding: 5rem 0;
}

.services-container ul {
    display: flex; /*Usa o Flexbox para organizar os itens lado a lado*/
    width: 90%;
    margin: 0 auto; /*centraliza a lista*/
}

.services-container li {
    flex: 1 1 200px; /*Caso sobre espaço na lista, CRESÇA para ocupar; se faltar espaço, ENCOLHA/QUEBRE para desocupar; inicie com 200px*/
    list-style: none; /*remove os marcadores padrão da lista*/
    text-align: center;
    padding: 20px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
    /* aumenta os ícones todos e coloca um "respiro" entre eles e o título */
}

.fa-shield-alt {
  color: #2cc76a;
}

.fa-rocket {
  color: #ef3f29;
}

.fa-comments {
  color: #ef8f29;
}

.services-container h3 {
    margin-bottom: 25px;
}

.services-container p {
    line-height: 25px;
}
