/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;  /*faz com que os inputs respeitem as bordas da div pai*/
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #70747a;
}